
@import "@/styles/variables";
@import "@/styles/mixins";

.orders {
    gap: 15px;
}

.order {
    padding: 18px 18px 20px;
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0 11px 50px 0 #BCBCBC80;
    margin-bottom: 6px;

    &__time {
        @include text-style(400, 12px, 14px, #7C7C7C);
        margin-bottom: 4px;
    }

    &__title {
        @include text-style(700, 16px, 21px);
        @include text-ellipsis(2);
        margin-bottom: 4px;
    }

    &__description {
        @include text-style(400, 14px, 18px, #7A7A7A);
        @include text-ellipsis(2);
        margin-bottom: 14px;
    }

    &__location {
        @include flex(flex-start, center);
        gap: 7px;
        @include text-style(400, 14px, 18px);
        @include text-ellipsis(1);
        margin-bottom: 14px;

        &-icon {
            flex-shrink: 0;
            width: 14px;
            color: #634F4A;
        }
    }

    &__row {
        @include flex(space-between, center);
    }

    &__price {
        @include text-style(700, 18px, 23px);
    }

    &__stats {
        @include flex(center, center);
        gap: 11px;

        &-views,
        &-people {
            @include flex(center, center);
            gap: 5px;
            color: #7C7C7C;
        }
    }
}