@import "@/styles/variables";
@import "@/styles/mixins";

.donut-chart {
    @include flex(center, stretch, column);

    &__wrapper {
        @include flex(center, stretch, column);
        margin: 40px auto;
    }

    &__legend-item {
        @include flex(stretch, center, row);
        gap: 16px;

        &-color {
            width: 24px;
            height: 24px;
            border-radius: 6px;
        }

        &-label {
            flex: 1;
        }

        &-value {
            font-weight: bold;
            justify-self: flex-end;
        }
    }
}