<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-/le//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZdLc5htADHQljkui4MWUCV6GLbR4Fns0</string>
	<key>GCM_SENDER_ID</key>
	<string>769835159872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ampersander.skier</string>
	<key>PROJECT_ID</key>
	<string>skerr-b387b</string>
	<key>STORAGE_BUCKET</key>
	<string>skerr-b387b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769835159872:ios:77ad4e0950e77a1b6caaa5</string>
</dict>
</plist>